.menu
{
    color:brown;
    background-color:azure;
    font-size:medium;
    margin:auto;
    padding:auto;
    text-align: center;
    display:inline-block;
    position: static;
    border: 3px solid #73AD21;
    
}
li
{
    display:inline-block;
    position: static;
    color:brown;
}