.menu
{
    color:brown;
    background-color:azure;
    font-size:medium;
    margin:auto;
    padding:auto;
    text-align: center;
    display:inline-block;
    position: static;
    border: 3px solid #73AD21;
    
}
li
{
    display:inline-block;
    position: static;
    color:brown;
    margin:5px;
    padding: 5px;
}

body
{
    background-image:url("C:\Users\Paul\OneDrive\Bureau\repositories\K-Paul2022.github.io\img\priscilla-du-preez-qtkpOxCpl0Y-unsplash.jpg");
}