.menu
{
    color:brown;
    background-color:azure;
    font-size:medium;
    margin:5px;
    padding:5px;
    text-align: center;
    display:inline-block;
    position: static;
    border: 3px solid #73AD21;
    
}